node_modules/
examples/**/cypress/videos
examples/**/cypress/screenshots
examples/**/cypress/downloads
results.json
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# For Yarn Classic and Yarn Modern without Zero-Installs
# see https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored

examples/**/.pnp.*
examples/**/.yarn/*
!examples/**/.yarn/patches
!examples/**/.yarn/plugins
!examples/**/.yarn/releases
!examples/**/.yarn/sdks
!examples/**/.yarn/versions
