name: example-webpack
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

jobs:
  wait:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress tests
        uses: ./ # if copying, replace with cypress-io/github-action@v6
        with:
          working-directory: examples/webpack
          start: npm start
          wait-on: 'http://localhost:8080'
