name: example-wait-on
on: [push]
jobs:
  wait:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress tests
        uses: ./
        with:
          working-directory: examples/wait-on
          start: npm start
          wait-on: 'http://localhost:3050'

  wait2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress tests
        uses: ./
        with:
          working-directory: examples/wait-on
          start: npm run start2
          wait-on: 'http://localhost:3050'

  wait3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress tests
        uses: ./
        with:
          working-directory: examples/wait-on
          start: npm run start3
          wait-on: 'http://localhost:3050'

  wait-multiple:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress tests
        uses: ./
        with:
          working-directory: examples/wait-on
          # use different command formats
          start: npm start -- --port 3050, npm run start2 -- --port 3060, node ./index3 --port 3070
          # wait for all services to respond
          wait-on: 'http://localhost:3050, http://localhost:3060, http://localhost:3070'

  wait-on-react-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress tests
        uses: ./
        with:
          working-directory: examples/react-scripts
          start: npm start
          wait-on: 'http://localhost:3000'

  ping-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Run ping from CLI
        run: node src/ping-cli https://example.cypress.io
