name: example-node-versions
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    # let's make sure Cypress works on several versions of Node
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    name: Cypress E2E on Node v${{ matrix.node }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: node -v
      - run: npm -v

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress tests
        uses: ./ # if copying, replace with cypress-io/github-action@v6
        with:
          working-directory: examples/node-versions
