name: example-basic-pnpm
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

jobs:
  basic-pnpm:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

        # See https://github.com/pnpm/action-setup
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

        # See https://github.com/actions/setup-node
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: examples/basic-pnpm/pnpm-lock.yaml

      - name: Cypress tests
        uses: ./ # if copying, replace with cypress-io/github-action@v6
        with:
          working-directory: examples/basic-pnpm
          # print information about detected browsers, etc
          # see https://on.cypress.io/command-line#cypress-info
          build: pnpm exec cypress info
